<!DOCTYPE html>
<html lang="en">
<!-- Head tag -->
<%- partial('_partial/head') %>

<body>
    <!-- Menu -->
    <%- partial('_partial/menu') %>

    <!-- Main -->
    <main class="container">
        <div class="row">
            <div class="col-12">
                <%- body %>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <%- partial('_partial/footer') %>

    <!-- end of page scripts -->
    <%- partial('_partial/end-scripts') %>
</body>

</html>