<article id="blog-page" class="py-5">
    <div class="py-3">
        <h1>
            <%- item.title %>
        </h1>
        <p class="subtitle"><%- item.subtitle %></p>
        <!-- Meta -->
        <p class="meta">
            Posted on
            <%= item.date.format('MMMM Do YYYY') %>
            <% if(item.author) { %>
            by <%- item.author %>
            <% } %>
        </p>
    </div>



    <!-- Content -->
    <%- item.content %>
    <hr />
    <div class="blog-meta">
        <!-- Tags and Categories links -->
        <%- partial('article-tags', {item: item}) %>
        <%- partial('article-categories', {item: item}) %>
    </div>
</article>

<div class="pb-5 d-flex flex-row justify-content-center">
    <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&p=48&l=ur1&category=ce&banner=0NMM69180HDZTAHXRQG2&f=ifr&linkID=715de6374d2976bf3378c240b76edff8&t=andyp0d-21&tracking_id=andyp0d-21" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe></div>

